<div class="text-center">
  <h2>Estado de mis tareas</h2>
</div>
<br>

<% @albums.each_slice(3) do |albums| %>
  <div class="row">
    <% albums.each do |albums| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <%= album.completed ? 'Completada' : 'Incompleta'%>
        </div>
        <% if album.completed? %>
        <%= image_tag album.task.photo, class:'card-img-top'%>
        <% else %>
        <%= image_tag  album.task.photo, class:'card-img-top undone'%>

        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= album.task.name %></h5>
          <%= link_to 'Ver', task_show_path(album.task), class:'btn btn-primary' %>
          <% if user_todo.completed? %>
            <%= link_to 'Desahcer', task_update_path(album), method: :patch, class:'btn btn-danger' %>
          <% else %>
            <%= link_to 'Hacer', task_update_path(album), method: :patch, class:'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
<% end %>